@model Crowdfund.Web.Models.CreateProjectViewModel;

<form method="post" action="@Url.Action("create", "project")">

    <div class="form-group">
        <label for="@Html.IdFor(c => c.CreateProjectOptions.Title)">Title</label>
        @Html.TextBoxFor(c => c.CreateProjectOptions.Title, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="@Html.IdFor(c => c.CreateProjectOptions.Description)">Description</label>
        @Html.TextBoxFor(c => c.CreateProjectOptions.Description, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="@Html.IdFor(c => c.CreateProjectOptions.Budget)">Budget</label>
        @Html.TextBoxFor(c => c.CreateProjectOptions.Budget, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="@Html.IdFor(c => c.CreateProjectOptions.Photo)">Url Photo</label>
        @Html.TextBoxFor(c => c.CreateProjectOptions.Photo, new { @class = "form-control" })
        <small id="emailHelp" class="form-text text-muted">
            Insert Valid Email
        </small>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    @if (!string.IsNullOrWhiteSpace(Model?.ErrorText)) {
        <div class="alert alert-danger" role="alert">
            @Model?.ErrorText
        </div>
    }
</form>