@model IQueryable<CrowdfundCore.Project>;



@*<h1>@Model.Title</h1>

<h2>@Model.Description</h2>

<h3>@Model.budget</h3>

<h4>@Model.Deadline</h4>*@
@{ foreach (var p in Model) { 
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@p.Title<h5>
        <p class="card- text">@p.Description</p>
        <p class="card-text">@p.Id</p>
        <p class="card-text">@p.Deadline</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>}}