@model Crowdfund.Web.Models.CreateBackerViewModel;

    <form method="post" action="@Url.Action("create", "backer")">
        <div class="form-group">
            <label for="@Html.IdFor(c => c.AddBackerOptions.Firstname)">Firstname</label>
            @Html.TextBoxFor(c => c.AddBackerOptions.Firstname, new { @class = "form-control" })
        </div>        <div class="form-group">
            <label for="@Html.IdFor(c => c.AddBackerOptions.Lastname)">Lastname</label>
            @Html.TextBoxFor(c => c.AddBackerOptions.Lastname, new { @class = "form-control" })
        </div>        <div class="form-group">
            <label for="@Html.IdFor(c => c.AddBackerOptions.Phone)">Phone</label>
            @Html.TextBoxFor(c => c.AddBackerOptions.Phone, new { @class = "form-control" })
        </div>        <div class="form-group">
            <label for="@Html.IdFor(c => c.AddBackerOptions.Email)">Email</label>
            @Html.TextBoxFor(c => c.AddBackerOptions.Email, new { @class = "form-control" })
            <small id="emailHelp" class="form-text text-muted">
                Insert Valid Email
            </small>
        </div>        
        </div>       
        <button type="submit" class="btn btn-primary">Submit</button>        
        @if (!string.IsNullOrWhiteSpace(Model?.ErrorText))
        {
            <div class="alert alert-danger" role="alert">
                @Model?.ErrorText
            </div>
        }
    </form>